# FastAPI
fastapi
uvicorn[standard]

# Pydantic
pydantic[email]

# SQLAlchemy
sqlalchemy
psycopg2-binary

# Alembic
alembic

# Passlib for password hashing
passlib[bcrypt]

# Python-jose for JWT
python-jose[cryptography]

# python-dotenv for environment variables
python-dotenv

# Tenacity for retrying operations
tenacity
