# FastAPI
fastapi
uvicorn[standard]
python-multipart # For form data, often useful with FastAPI

# Pydantic
pydantic[email]

# SQLAlchemy
sqlalchemy
psycopg2-binary

# Alembic
alembic

# Passlib for password hashing (using argon2)
passlib[argon2]

# Python-jose for JWT
python-jose[cryptography]

# python-dotenv for environment variables
python-dotenv

# Tenacity for retrying operations
tenacity

# Redis client
redis >= 4.0.0
